@page "/weather"

@using WeatherApp.Data
@inject WeatherForecastService ForecastService

<h3>Weather</h3>

@if (weatherAtLocation == null && ForecastService.IPAddress == null ) {
<p><em>Loading...</em></p>
} else {
<p>@ForecastService.IPAddress</p>
<p>@weatherAtLocation.Name</p>
<p>@weatherAtLocation.Coord.Lon</p>
<p>@weatherAtLocation.Coord.Lat</p>
<div>
    <p>Temperature: @weatherAtLocation.Main.Temp</p>
    <p>Feels like: @weatherAtLocation.Main.Feels_like</p>
</div>
}

@code {
   private WeatherReportModel weatherAtLocation;

    protected override void OnInitialized()
    {
        weatherAtLocation =  ForecastService.GetWeather();
    }
 }

