@page "/weather"

@using WeatherApp.Data
@inject WeatherForecastService ForecastService

<h3>Weather</h3>
<p>@ipAddress</p>
<p>@ForecastService.IPAddress</p>
<button @onclick="GetIPAddress">GetIP</button>
<button @onclick="GetWeather">Get weather</button>

@if (weatherAtLocation == null) {
<p><em>Loading...</em></p>
} else {
<p>@weatherAtLocation.Name</p>
<p>@weatherAtLocation.Coord.Lon</p>
<p>@weatherAtLocation.Coord.Lat</p>
<div>
    <p>Temperature: @weatherAtLocation.Main.Temp</p>
    <p>Feels like: @weatherAtLocation.Main.Feels_like</p>
</div>
}

@code {
   private WeatherReportModel weatherAtLocation;
   string ipAddress;
    double Kelvin = 273.15;

    private string GetIP()
    {
        return BlazorAppContext.CurrentUserIP;
    }

    private void GetIPAddress(){
        ipAddress = BlazorAppContext.CurrentUserIP;
    }

    protected override async Task OnInitializedAsync()
    {
        weatherAtLocation =  await ForecastService.GetWeatherReport();
    }

    private void GetWeather() {
    weatherAtLocation = ForecastService.GetWeather();
}


}
